# Sentiment Analysis

In [1]:
pip install nltk -q

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
import nltk

In [4]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\lovep\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [5]:
dataset = pd.read_excel(r"C:\Users\lovep\Downloads\Lessons\Excel1\Sentiment analysis.xlsx")

In [6]:
dataset

                                            Message
0                                   I hate your guts
1  I want to marry you as soon as I get off the p...
2  I am disappointed with your behavior. I won't ...
3  Jim has a non-existent credibility with our co...
4  The sky is blue and the flowers are bright org...
5  Could you please tell me where Toronto is loca...
6                    My phone number is 777 777 7777

In [7]:
sia = SentimentIntensityAnalyzer()

In [8]:
dataset.columns = ["Message"]

In [9]:
dataset["Polarity scores"] = dataset["Message"].apply(lambda x : sia.polarity_scores(str(x))["compound"])

In [10]:
dataset.style.background_gradient(cmap = "Spectral")

# Summary
    - Negatives comments or messages have polarity scores in negative.
    - The comments which are neutral having the polarity score either 0 or close to 0.